@model WebAppSportsLeagueTestTask.WEB.Models.DirectorViewModel

@{
    ViewBag.Title = "Подробно о режиссёре";
}

<div class="container mt-3">
 

    @if (Model.Movies.Count > 0)
    {
        <h4>Фильмы режиссёра @Html.DisplayName(Model.FullName) (фильмов: @Model.CountMovies)</h4>
        <div class="row single-post no-gutters">
            @foreach (var item in Model.Movies)
            {
                <div class="col-sm-12 col-md-6 col-sm-4 mb-4 cursor-pointer"
                     onclick="location.href='@Url.Action("Details", "Movies", new { id = item.Id })'">
                    <div class="image-wrapper float-left pr-3">
                        <img class="float-left d-inline rounded" src='@string.Format("/Posters/{0}", item.Poster)' alt="@item.Name" height="275" />
                    </div>
                    <h4>@item.Name (@item.Year)</h4>
                    <h5>@item.Director.FullName</h5>
                    <div class="single-post-content-wrapper pr-3 text-justify">
                        @item.Description
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h4 class="d-inline">@Html.DisplayNameFor(model => model.FullName) @Html.DisplayFor(model => model.FullName)</h4>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary mr-1" })
        @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, new { @class = "btn btn-primary" })
        <hr />
        <h4 class="d-inline">Фильмов пока нет</h4>
        <a class="btn btn-primary" href="/Movies/Create" role="button">Добавить фильм</a>
    }

</div>
