@model WebAppSportsLeagueTestTask.WEB.EFModels.Movie

@{
    ViewBag.Title = "Удаление фильма";
}


<div class="container mt-5">
    <div class="row single-post no-gutters">
        <div class="col-12">
            <div class="image-wrapper float-left pr-3">
                <img class="float-left d-inline rounded" src='@string.Format("/Posters/{0}", Model.Poster)' alt="@Model.Name" height="275" />
            </div>
            <h4>Вы уверены, что хотите удалить фильм "@Html.DisplayFor(model => model.Name)"</h4>
            <h5>@Html.DisplayNameFor(model => model.Year): @Html.DisplayFor(model => model.Year)</h5>
            <h5>@Html.DisplayNameFor(model => model.Director.FullName): @Html.DisplayFor(model => model.Director.FullName)</h5>
            <div class="single-post-content-wrapper pr-3 text-justify">
                @Html.DisplayFor(model => model.Description)
            </div>
           
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Удалить" class="btn btn-primary mt-2" />                   
                </div>
            }
        </div>
    </div>
</div>
